name: E2E Tests

on: [push]

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build test container
        run: docker build -f Dockerfile.test -t test-image .

      - name: Run e2e tests in container
        run: docker run --rm test-image
